.grid-2 {
   // min-height: calc(100vh - 140px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
}
.product {
    grid-column: 1/2;
    grid-row: 1/2;
   

}
.cart {
    grid-column: 2/3;
    grid-row: 1/2;
    
    height: 100%;
} 